@using VinylRecords.ViewModels
@model PlatesListViewModel

	<h1>All plates</h1>
	<h3>@Model.currCategory</h3>
    <div class="container">
        <div class="row">
        @{
            var list = Model.getAllPlates.ToList();

            for (int i = 0; i < list.Count; i++)
            {
                if (list.Count - i > 3)
                {
                   

                <div class="col-sm-4">
                    <img class="img-thumbnail" src="@list[i].img" alt="@list[i].name" />
                    <h2>@list[i].name</h2>
                    <p>@list[i].shortDescription</p>
                    <p>Price: @list[i].price.ToString("c")</p>
                    <p><a class="btn btn-warning" href="#">Details</a></p>
                </div>
                <div class="col-sm-4">
                    <img class="img-thumbnail" src="@list[i+1].img" alt="@list[i+1].name" />
                    <h2>@list[i+1].name</h2>
                    <p>@list[i+1].shortDescription</p>
                    <p>Price: @list[i+1].price.ToString("c")</p>
                    <p><a class="btn btn-warning" href="#">Details</a></p>
                </div>
                <div class="col-sm-4">
                    <img class="img-thumbnail" src="@list[i+2].img" alt="@list[i+2].name" />
                        <h2>@list[i+2].name</h2>
                        <p>@list[i+2].shortDescription</p>
                        <p>Price: @list[i+2].price.ToString("c")</p>
                    <p><a class="btn btn-warning" href="#">Details</a></p>
                </div>

                i = i + 2;
                }
                else if (list.Count - i > 2)
                {
                

                    <div class="col-sm-4">
                        <img class="img-thumbnail" src="@list[i].img" alt="@list[i].name" />
                        <h2>@list[i].name</h2>
                        <p>@list[i].shortDescription</p>
                        <p>Price: @list[i].price.ToString("c")</p>
                        <p><a class="btn btn-warning" href="#">Details</a></p>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-thumbnail" src="@list[i+1].img" alt="@list[i+1].name" />
                        <h2>@list[i+1].name</h2>
                        <p>@list[i+1].shortDescription</p>
                        <p>Price: @list[i+1].price.ToString("c")</p>
                        <p><a class="btn btn-warning" href="#">Details</a></p>
                    </div>

                    i = i + 1;
                }
                else if (list.Count - i >= 1)
                {
                    <div class="col-sm-4">
                        <img class="img-thumbnail" src="@list[i].img" alt="@list[i].name" />
                        <h2>@list[i].name</h2>
                        <p>@list[i].shortDescription</p>
                        <p>Price: @list[i].price.ToString("c")</p>
                        <p><a class="btn btn-warning" href="#">Details</a></p>
                    </div>
                }
        }

        //foreach (var plate in Model.getAllPlates)
        //{
        //    <div class="col-sm-4">
        //        <img class="img-thumbnail" src="@plate.img" alt="@plate.name" />
        //        <h2>@plate.name</h2>
        //        <p>@plate.shortDescription</p>
        //        <p>Price: @plate.price.ToString("c")</p>
        //        <p><a class="btn btn-warning" href="#">Details</a></p>
        //    </div>
        //}
    }
        </div>
    </div>


